{% extends "account/base.html" %}
{% load static %}

{% block title %}
  Описание блюда
{% endblock %}

{% block page_header %}
  <div class="text-center"><h1>Описание блюда</h1></div>
{% endblock %}


{% block content %}
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-0">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                    src="{% if dish.image %}{{ dish.image.url }}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="..."/></div>
        <div class="col-md-6">
          <h2 class="display-5 fw-bolder">{{ dish.name }}</h2>
          <p class="lead">Описание:<br>{% if dish.description %} {{ dish.description }} {% else %} Описание
              отсутствует... {% endif %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}